<h1><%= name %></h1>
<p>
<%= JSON.stringify(recorded) %>
</p>

<table border=1>

<tr>
<td> Number </td>
<td> Strength </td>
</tr>

<%  for(var i=0;i<recorded.length;i++){%>
	<tr>

		<td>
		<a href="/class/view?id=<%= recorded[i].id %>"><%= recorded[i].name %>
		</td>
		<td>
		<%= recorded[i].strength %>
		</td>
<%}	%>

</table>